<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<httpRuntime executionTimeout="3600" maxRequestLength="4000000" />
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	  <customErrors mode="Off" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>
  
</configuration>
