<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<httpRuntime executionTimeout="3600" maxRequestLength="4000000" />
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	   <customErrors mode="Off" />
        </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

    
</configuration>
